.questions {
    margin-bottom: 27px;
}

.accordion-item__button {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #CACACA;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    min-height: 70px;
    margin: 0;
    outline: none;
}

.accordion-item:first-child .accordion-item__button {
    border-top: 1px solid #CACACA;
}

.accordion-item:first-child .accordion-item__button:hover {
    border-top: 1px solid #FF9900;
}

.accordion-item__button:hover {
    border-top: 1px solid #FF9900;
    border-bottom: 1px solid #FF9900;
}

.accordion-item__button:focus {
    outline: 1px solid #FF9900;
}

.accordion-item__title {
    text-align: left;
    margin-right: 30px;
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin-top: 39px;
    margin-bottom: 39px;
}

.accordion-item__text {
    margin: 0;
    font-size: 16px;
    color: #ccc;
    border-top: 0;
    overflow: auto;
    line-height: 32px;
    margin-top: 10px;
    color: black;
    width: 1003px;
}

.ui-accordion .ui-accordion-header {
    margin: 0;
}

.accordion-item__accord {
    display: block;
    min-width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    background-image: url('../img/+a.svg');
}

.accordion-item__accord-active {
    min-width: 50px;
    height: 50px;
    background-image: url('../img/+a2.svg');
}

.accordion-item__button:hover .accordion-item__accord,
.accordion-item__button:focus .accordion-item__accord,
.accordion-item__button:active .accordion-item__accord{
    background-image: url('../img/+a2.svg');
}