.swiper-slide {
    background-size: cover;
}

.section {
    height: 620px;
}

.section-slide {
    padding-top: 103px;
    padding-left: 78px;
}

.section-project_heading {
    max-width: 842px;
    font-weight: 800;
    font-size: 70px;
    line-height: 86px;
    color: white;
    margin: 0;
}

.section-project_text {
    max-width: 836px;
    font-size: 23px;
    line-height: 29px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}

.section-project_button {
    margin-top: 97px;
    margin-bottom: 91px;
    background-color: #ff9900;
    padding: 26px 37px;
    border: none;
    color: white;
    font-size: 23px;
    font-weight: bold;
    transition: 500ms;
}

.section-project_button:hover {
    background-color: rgba(255, 153, 0, 0.6);
}

.section-project_button:active {
    background-color: #e1670e;
    outline: none;
}

.section-project_button:focus {
    background-color: #e1670e;
    outline: none;
}