html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button, input {
	font: inherit;
    cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2 {
    font-size: 48px;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 0;
}

h3, p {
    margin: 0;
}

hr {
    margin: 0;
}

.body {
    min-width: 320px;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
}

.container {
    max-width: 1770px;
	margin-right: 75px;
    margin-left: 75px;
}